body{
    padding:0;
    margin:0;
    background-color:antiquewhite;
   background-image: url('blackimg.webp');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    /* background :url('blackimg.webp') no repeat top right black;  */
}
p{

    font-size: 20px;
    color: blue;
    font-family:arial;
    font-weight: 700;
    font-style:italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px grey;
    /* text-wrap:initial;*/
    /* text-overflow: ellipsis; */
    clear:both;
}
#para{
    color:red;
    display: inline-block;
}
img{
    float: left;
}